<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

 $Id: web.xml,v 1.2 2008/07/13 19:01:51 rlubke Exp $
-->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Facelets Portlet demo</display-name>
	<description>Facelets Portlet demo</description>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.application.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
		<description>
		    This parameter tells MyFaces if javascript code should be allowed in the
		    rendered HTML output.
		    If javascript is allowed, command_link anchors will have javascript code
		    that submits the corresponding form.
		    If javascript is not allowed, the state saving info and nested parameters
		    will be added as url parameters.
		    Default: "true"
		    </description>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
		<description>
		    This parameter tells MyFaces if javascript code should be allowed in the
		    rendered HTML output.
		    If javascript is allowed, command_link anchors will have javascript code
		    that submits the corresponding form.
		    If javascript is not allowed, the state saving info and nested parameters
		    will be added as url parameters.
		    Default: "false"
	
		    Setting this param to true should be combined with STATE_SAVING_METHOD "server" for
		    best results.
	
		    This is an EXPERIMENTAL feature. You also have to enable the detector filter/filter mapping below to get
		    JavaScript detection working.
		    </description>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
		<description>
		    If true, rendered HTML code will be formatted, so that it is "human readable".
		    i.e. additional line separators and whitespace will be written, that do not
		    influence the HTML code.
		    Default: "true"
		</description>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>true</param-value>
		<description>
		    If true, a javascript function will be rendered that is able to restore the
		    former vertical scroll on every request. Convenient feature if you have pages
		    with long lists and you do not want the browser page to always jump to the top
		    if you trigger a link or button action that stays on the same page.
		    Default: "false"
		</description>
	</context-param>

    <!-- Extensions Filter -->
	<filter>
		<filter-name>extensionsFilter</filter-name>
		<filter-class>org.apache.myfaces.component.html.util.ExtensionsFilter</filter-class>
		<init-param>
			<param-name>uploadMaxFileSize</param-name>
			<param-value>100m</param-value>
			<description>
				Set the size limit for uploaded files.
				Format: 10 - 10 bytes
					10k - 10 KB
					10m - 10 MB
					1g - 1 GB
			</description>
		</init-param>
		<init-param>
			<param-name>uploadThresholdSize</param-name>
			<param-value>100k</param-value>
			<description>
				Set the threshold size - files below this limit are stored in memory, files above
				this limit are stored on disk.
	
				Format: 10 - 10 bytes
					10k - 10 KB
					10m - 10 MB
					1g - 1 GB
			</description>
		</init-param>
	</filter>

    <!-- Filter Mappings -->
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  	<!-- Listener, that does all the startup work (configuration, init). -->
	<listener>
		<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
	</listener>
  
  	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  	<!-- extension mapping -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

</web-app>

